@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.App {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    'header'
    'nav'
    'content'
    'footer';
  min-height: 100vh;
  background-color: rgb(235, 234, 194);
  text-align: center;
  color:rgb(25, 83, 13);
}

.Text-link {
  text-decoration: none;
  color: inherit;
}
.Text-link:hover {
  color:brown;
}

.Container {
  padding:20px;
}

/* ..................Home,,,,............................. */

.Login_home{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/dice.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  
}
.Welcome {
  margin-bottom: 80px;
  margin-top:30px;
}

/* ..................Header,,,,............................. */

.Header { 
  background-color: rgb(51, 45, 12);
  margin:0px;
  padding:3px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  color:rgb(233, 215, 158);

}
/* .Header_userImg {
  width:50px;
  height:50px;
  border-radius: 100%;
} */
.Home {
  margin-left: 20px;
}
.Home_link {
  margin-right: 20px;
}
.Home_link h2 {
  font-family: 'Indie Flower', cursive;
}
/* ..................Nav,,,,............................. */
.Nav{
  background-color: rgb(233, 215, 158);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  padding:7px;
  color:rgb(51, 45, 12);
  margin-bottom:0;


}
.Nav h2{
  display: inline;
  margin: 10px 20px;

}

/* ..................Reviews............................. */
 
.Reviews h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.Reviews_list li {
  list-style: none;
  margin-bottom: 20px;
  margin-left: -25px;

}



/* ..................SingleReview............................. */

.SingleReview_img {
  width:320px;
  height:320px;
}
.Custom-btn-review {
  background-color: rgb(240, 144, 107) !important;
  border: #fff !important;
}

/* ..................Categories............................. */

.Category_list li {
 list-style: none;
 margin-top: 15px;
}

.Reviews_category li {
  list-style: none;
  margin-bottom: 20px;
  margin-left: -25px;
}
.Reviews_category h2 {
  color:darkblue;
}




/* ..................Comments............................. */

.Comments_list {
  list-style: none;
}

/* ..................SingleComments............................. */

.Custom-btn-comment {
  background-color: rgb(216, 108, 113) !important;
  border: #fff !important;
}

/* ..................CreateComments............................. */
.Button_add {
 background-color: rgb(98, 122, 30);
 border-radius: 5px;
 border: #fff;
 padding:2px 8px;
}
.Create_comment {
 margin-top: 20px;
}
.Create_add {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* ..................Delete............................. */

.Custom-btn-delete {
  background-color: rgb(52, 143, 247) !important;
  border: #fff !important;
}


/* ..................Users............................. */
.Users {
  margin-top:20px;
}
.Users h1 {
  margin-bottom:20px;
}
.Username {
  margin:30px;
}
.User_list {
  list-style: none;

}
.Login_msg {
  color:firebrick;
  font-family: 'Indie Flower', cursive;

}
.Custom_btn_user {
  background-color: rgb(76, 77, 30) !important;
  border: #fff !important;
}

/* ....................SortBy............................ */

.Sort {
  margin-top: 20px;
}


/* ..................Footer............................. */



@media only screen and (min-width: 600px) {
  .Nav {
    justify-content: space-around;
  }
  .Login_home {
    font-size: 1.5rem;
  }
  .Create_comment{
    font-size: 1.5rem;

  } 
  .Reviews_list {
    margin:30px 100px;
    padding:15px 50px;
  }
  .Reviews_category {
    margin:30px 100px;
    padding:15px 50px;
  }

}
